/**************************************************************************************************

	General dialog box styling.

 **************************************************************************************************/
.modal-inner-wrapper .javascript-dialog
   {
	-webkit-user-select 	:  none ;
    }

.modal-inner-wrapper .javascript-dialog .modal-header
   { 
	padding 		:  0px 0px 0px 8px ;
    }

.modal-inner-wrapper .javascript-dialog .modal-header td.left
   {
	width 			:  100% ;
    }

.modal-inner-wrapper .javascript-dialog .modal-header td.left h1
   {
	width 			:  100% ;
	font-size 		:  13px ;
	margin 			:  0px ;
	padding 		:  0px ;
	line-height 		:  normal ;
    }

.modal-inner-wrapper .javascript-dialog .modal-header td.right .close
   {
	margin-right 		:  6px ;
	cursor 			:  default ; 
	opacity 		:  0.4 ;
    }

.modal-inner-wrapper .javascript-dialog .modal-header td.right .close:hover
   {
	opacity 		:  0.8 ;
	cursor 			:  pointer !important;
    }

.modal-inner-wrapper .javascript-dialog .modal-body
   { 
	border-bottom	 	:  0px ;
	padding-top 		:  8px ;
	padding-bottom		:  8px ;
	-webkit-user-select	:  text ;
    }

.modal-inner-wrapper .javascript-dialog .modal-footer
   { 
	margin 			:  0px ;
	padding 		:  4px 8px 4px 0px ;
    }

.modal-inner-wrapper .javascript-dialog .javascript-dialog-button
   { 
	width 			:  100px ;
    }

.modal-inner-wrapper .javascript-dialog .javascript-dialog-button.primary
   { 
    }

.modal-inner-wrapper .javascript-dialog .javascript-dialog-button:not(.primary)
   { 
    }

